/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS to match your App.jsx styling */
:root {
  --background: #050202;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
