@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050202;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Prevents scrollbar flash from animations */
}
